body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  background: linear-gradient(135deg, #e9d9d9, #00f2fe);

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
